{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block body %}


{% if user %}
<h1>You made it! {{user.username}}</h1>
<p>{{user.first_name}} {{user.last_name}}</p>
<p>{{user.email}}</p>

{% if user.notes %}
{% for note in user.notes %}
<li><a href="/notes/{{ note.id }}/edit">{{ note.title }}</a>
  <p>{{note.content}}</p>
  <form action="/notes/{{ note.id }}/delete" method="POST">
    {{form.hidden_tag()}}
    <button type="submit" class="btn btn-primary">Delete Note</button>
</li>
{% endfor %}
{% endif %}

<a href="/users/{{user.username}}/notes/add">Add Note</a>

<form action="/logout" method="POST">
  {{form.hidden_tag()}}
  <button type="submit" class="btn btn-primary">Logout</button>
</form>

<form action="/users/{{user.username}}/delete" method="POST">
  {{form.hidden_tag()}}
  <button type="submit" class="btn btn-primary">Delete User</button>
</form>

{% else %}
<h1>You made it!</h1>
{% endif %}

{% endblock %}